/* estilo de todo  */
body {
  background-color: #f9f8e9;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

/* IZQUIERDA */
.izquierda {
  margin-left: 200px;
  max-width: 900px;
}

/* titulos izquierda */
.titulo-principal {
  font-family: 'Alex Brush', cursive;
  color: #d39c4a;
  font-size: 120px;
  margin-bottom: 0;
}

.subtitulo {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #5b7a2a;
  font-size: 70px;
  margin-top: -50px;
  margin-bottom: 25px;
  margin-left: 190px;
}

/* texto azulito */
.resaltado {
  color: #7381b8;
  font-weight: 500;
  font-size: 15px;
}

/* DERECHA */
.derecha {
  max-width: 550px;
  margin-left: auto;
  margin-right: 150px;
  margin-top: 290px; /* baja lo de la derecha */
  text-align: left;
}

/* titulo derecha acerca de tip */
.titulo-tip {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #5b7a2a;
  letter-spacing: 2px;
  line-height: 1;
  position: relative;
}

/* linea azul abajo del texto */
.subrayado {
  width: 100%;
  height: 2px;
  background-color: #7381b8;
  margin: 10px 0 25px 0;
}

.logo-tip {
  width: 80px;              
  height: auto;
  vertical-align: middle;   
  margin-left: 15px;        
  position: relative;       
  top: -12px;               
}


/* texto debajo de la derecha */
.texto {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 25px;
}

/* para que se adapte */
@media (max-width: 768px) {
  .izquierda,
  .derecha {
    margin: 0 auto;
    text-align: center;
  }

  .titulo-tip {
    font-size: 60px;
  }

  .tip {
    left: 150px;
    top: 20px;
  }
}
