
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* fondito toda la pagina*/
body {
  background-color: #fefdeb;
}

/* barra de arriba (donde va el logo y los botones) */
.navbar {
  background-color: #f0f0e8;
  display: flex; 
  align-items: center; 
  justify-content: space-between;  
  padding: 8px 25px;
  border-radius: 30px; 
  margin: 20px auto;
  max-width: 1100px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
}

/* logo de tip */
.logo img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

/* los botones de arriba */
.nav-links {
  display: flex;
  gap: 15px; 
  align-items: center;
}

.nav-links a {
  background-color: #f5c242;
  color: #fff;
  text-decoration: none; 
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 15px;
  font-size: 13px;
  letter-spacing: 0.5px; 
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}

/* cuando paso el mouse encima de los botones */
.nav-links a:hover {
  background-color: #e0ad27;
  transform: translateY(-2px); 
}

/* botón de “acerca de” para que no se parta en dos líneas */
.acerca-btn {
  white-space: nowrap;
}

/* los iconitos del lado derecho */
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* cada icono redondo */
.icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* el icono que es un poquito más grande */
.icon-plus {
  width: 48px;
  height: 48px;
}

/* mueve el primer icono un poquito más a la izquierda para que se vean bien juntos */
.icon:first-child {
  margin-right: -14px;
}

/* cmas grande cuando paso el mouse */
.icon:hover {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    gap: 10px;
  }

  .nav-links {
    flex-wrap: wrap; 
    justify-content: center;
  }
}


.principal {
  width: 100%;
  background-image: url("https://i.postimg.cc/xjBrtGCz/Captura-de-pantalla-2025-10-24-143932.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;

  text-align: center; 
  padding: 120px 20px; 
  color: #e7b941; 
}


.principal h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700; 
  font-size: 64px;
  line-height: 1.2;
  margin: 0 0 30px 0;
  text-transform: lowercase; 
}


.btn-descubrir {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #e7b941;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 40px;
  cursor: pointer;
}


.btn-descubrir:hover {
  opacity: 0.7;
}


.btn-descubrir:hover::after {
  content: "";
}


.flecha {
  transition: opacity 0.2s ease;
}

.btn-descubrir:hover .flecha {
  opacity: 0;
}
