/*-CARRUSEL-*/
#carouselExample {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 18px #999999;
  position: relative;
}

/* imágenes */
#carouselExample .carousel-item img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

/* texto sobre la imagen */
.carousel-caption {
  position: absolute;
  bottom: 80px;
  left: 60px;
  text-align: left;
  color: white;
}

.carousel-caption h3 {
  font-size: 34px;
  font-weight: 700;
  text-transform: lowercase;
  margin: 0;
}

.carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-top: 5px;
}

/* boton ver mas*/
.btn-vermas {
  position: absolute;
  bottom: -50px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #4A5F44; 
  color: #EAB940; 
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

/*  flecha dentro del botón */
.btn-vermas i {
  color: #EAB940; 
  font-size: 18px;
}

/* efecto mas oscurito */
.btn-vermas:hover {
  background-color: #3a4d36;
}

/* flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #EAB940;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 60% 60%;
}

/* posición  de las flechas */
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
}

.carousel-control-prev { left: 30px; }
.carousel-control-next { right: 30px; }

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #c99520;
}



.carousel-caption {
  bottom: 8px; 
}



/* boton ver mas */
.btn-vermas {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3a4d36; /* verde */
  color: #EAB940; /* amarillo */
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}

/* efecto de lucesita */
.btn-vermas:hover {
  background-color: #2e3f2a; 
  box-shadow: 0 0 10px #EAB940; 
}




/* responsive*/
@media (max-width: 768px) {
  #carouselExample {
    width: 95%;
  }

  #carouselExample .carousel-item img {
    height: 280px;
  }

  .carousel-caption {
    left: 25px;
    bottom: 50px;
  }

  .carousel-caption h3 { font-size: 22px; }
  .carousel-caption p { font-size: 16px; }

  .btn-vermas {
    font-size: 14px;
    padding: 8px 18px;
    bottom: 15px;
  }
}
