body {
    background-color: #fdfcee;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.top-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.login-container {
    max-width: 400px;
    margin-top: 200px;
    background-color: #fdfcee;
    text-align: center;
    padding: 30px 20px;
}

h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

p {
    color: #555;
    font-size: 15px;
    margin-bottom: 25px;
    text-align: justify;
}

.form-control {
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #d9d9d9;
    padding: 10px;
    text-align: center;
}

.btn-login {
    background-color: #758b9e;
    color: white;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #62798a;
}

.forgot {
    display: block;
    color: #55687a;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    opacity: 0.5;
}

.divider:not(:empty)::before {
    margin-right: .75em;
}

.divider:not(:empty)::after {
    margin-left: .75em;
}

.divider span {
    color: #555;
    font-size: 14px;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.iconos-redes a {
    border: 2px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.iconos-redes a:hover {
    background-color: #f1f1f1;
}